 .lof-accordion-color  .lof-toggler{

	background:#DADADA;
	cursor:hand;
	cursor:pointer;
	overflow:hidden;
	border-bottom:1px dotted #DEDEDE;
	font-size:95%;
	text-transform:uppercase;
	margin-top:1px;
	font-weight:bold;
	
}

.lof-accordion-color  .lof-toggler:hover{ background:#F8F8F8; }
.lof-accordion-color  .lof-toggler  .lof-arrow{width:30px;float:left;background:url(images/arrow.png) no-repeat right -10px;}
.lof-accordion-color .lof-active .lof-arrow{ background:url(images/arrow.png) no-repeat right -42px}
.lof-accordion-color .lof-toggler .lof-inner{
	padding:3px;	
}
.lof-accordion-color .lof-active .lof-title{
	color:#FFF		
}	

 .lof-accordion-color .article-image{
		 border: 1px solid #F0F0F0;
		float: left;
		margin: 0 6px;
		padding: 5px;
 }
.lof-accordion-color  .lof-toggler img {
 	padding: 4px 0px 0 8px!important;
	margin:0!important;
	float:left
}
.lof-accordion-color  .lof-toggler span.lof-title{
	padding-left:6px;	  
}
.lof-accordion-color  .lof-toggler span.lof-subdesc{
	font-size:85%;
	font-weight:normal
}

 .lof-accordion-color  .lof-inner{ padding:12px 5px 10px 5px;border:solid 1px #F2F2F2}
 
 .lof-accordion-color .lof-image{ margin:2px 5px; }

/**
 * Colour 
 */

.lof-accordion-color .lof-active #lof-header1{ background:#97C00E ; }
.lof-accordion-color .lof-active #lof-header2{ background:#F1B600 ; }
.lof-accordion-color .lof-active #lof-header3{ background:#EC810D ; }
.lof-accordion-color .lof-active #lof-header4{ background:#D03333 ; }
.lof-accordion-color .lof-active #lof-header5{ background:#C32DAC ; }
.lof-accordion-color .lof-active #lof-header6{ background:#97C00E ; }
.lof-accordion-color .lof-active .lof-header7{ background:#97C00E ; }
.lof-accordion-color .lof-active #lof-header8{ background:#97C00E ; }
.lof-accordion-color .lof-active .lof-header9{ background:#97C00E ; }
 