
div.transparent div.toppanel div.panel {
	/* position: relative; /* IE6 link fix for transparent background image */
	background: url(styles/transparent/images/bg.png) 0 100% repeat;
	color: #969696;
}

div.transparent div.toppanel div.content {
	margin: auto;
	padding-top: 5px;
	overflow: hidden;
}

div.transparent div.toppanel div.cpnl {
	top: 0px;
	width: 120px;
	margin-left: -60px;
	cursor: pointer;
}

div.transparent div.toppanel div.cpnl img {
	width: 16px;
	height: 26px;
	border: 0;
}

div.transparent div.toppanel div.cpnl-l, div.transparent div.toppanel div.cpnl-r {
	width: 16px;
	height: 26px;
	float: left;
}

div.transparent div.toppanel div.cpnl-l {
	background: url(styles/transparent/images/tpnl_l.png) 100% 0 repeat-x;
}

div.transparent div.toppanel div.cpnl-r {
	background: url(styles/transparent/images/tpnl_r.png) 100% 0 repeat-x;
}

div.transparent div.toppanel div.cpnl-m {
	width: 80px;
	height: 26px;
	background: url(styles/transparent/images/tpnl_m.png) repeat-x 100% 0;
	float: left;
	text-align: center;
	font-size: 95%;
	line-height: 22px;
	overflow: hidden;
	color: #ffffff;
}

div.transparent div.toppanel div.article {
	padding-bottom: 10px;
}