 .lof-accordion-basic > .lof-toggler{
	padding: 4px 0 0 0px!important;
	background:url(images/module_sprite.png) repeat-x scroll 0 -30px transparent;
	cursor:hand;
	cursor:pointer;
	overflow:hidden;
	border-bottom:1px dotted #DEDEDE;
	font-size:105%;
	height:25px;
	position:relative;
	font-weight:bold
}
 .lof-accordion-basic .article-image{
		 border: 1px solid #F0F0F0;
		float: left;
		margin: 0 6px;
		padding: 5px;
 }
 .lof-accordion-basic > .lof-toggler img {
 	padding: 4px 0px 0 8px!important;
	margin:0!important;
	float:left
 }
 .lof-accordion-basic > .lof-toggler span.lof-title{
	padding-left:12px;	  
 }
 .lof-accordion-basic > .lof-toggler span.lof-subdesc{
	font-size:85%;
	font-weight:normal
 }
.lof-accordion-basic .lof-element{
	overflow:hidden;
}
 .lof-accordion-basic  .lof-active{
	background:url(images/module_sprite.png) repeat-x scroll 0 -30px transparent !important;
}
 .lof-accordion-basic  .lof-inner{ padding-top:12px; padding:12px 5px 10px 5px;border:solid 1px #F2F2F2}
 
 .lof-accordion-basic .lof-image{ margin:2px 5px; }