/* Start toppanel--------------------------------------------- */
div.default div.toppanel div.panel {
}

div.default div.toppanel div.cpnl-l {
    background-attachment: scroll;
}

div.default div.toppanel div.cpnl-r {
}

div.default div.toppanel div.cpnl-m {
    overflow: hidden;
}

/* End toppanel--------------------------------------- */
#logo {
    background-image: url(../../images/color2/logo.png);
    left: 6px;
}

body {
}

body#bd {
}

body.contentpane {
    color: #000000;
    font-size: 12pt;
    line-height: 140%;
}

#at-date {
    color: #fff;
}

a, a:hover, a:active, a:focus {
    color: #000000;
}

small, .small, .smalldark, .mosimage_caption {

}

ul li {
}

hr {
}

select, textarea, .inputbox {

}

.button {
    background-image: url(../../images/color2/button.jpg);
}

.inputbox {
}

pre, .code {
}

.quote-hilite {
}

.small-quote span.author {
}

.dropcap {
    color: #999999;
}

.error {
    color: #CC0000;
}

.message {
    color: #DF8600;
}

.tips {
    color: #608A00;
}

p.stickynote {
}

p.download {
    border: 1px solid #DDDDDD;
}

table.contenttoc td {
}

table.contenttoc th {
}

table.pollstableborder tr.sectiontableentry1 td {
}

.blog_more strong {
    color: #4B4B4B;
}

.blog_more ul li {
}

td.buttonheading {
}

.componentheading {
}

.contentheading {
}

a.readon {
    background-image: url(../../images/color2/readon.jpg);
    text-decoration: none;
}

a.readon:hover, a.readon:active, a.readon:focus {
    background-image: url(../../images/color2/readon.jpg);
    text-decoration: none;
}

.createdate {
    color: #B6B6B4;
}

.modifydate {
    color: #B6B6B4;
}

.mosimage_caption {
    color: #999999;
}

.sectiontableheader {
}

tr.sectiontableentry1 td {
}

tr.sectiontableentry2 td {
}

tr.sectiontableentry1:hover td,
tr.sectiontableentry2:hover td {
}

#at-containerwrap, #at-containerwrap-fr {
}

#at-containerwrap #at-container {
}

#at-pathway {
    color: #CC0000;
}

#at-pathway a {
    color: #CC0000;
}

#at-wrapper {
}

#at-wrapheader {
}

#at-wrapmainnavigation {
}

a.mainlevel {
}

a.mainlevel:hover,
a.mainlevel:active,
a.mainlevel:focus {
    color: #CC0000;
}

a.mainlevel#active_menu {
    color: #CC0000;
}

a.sublevel {
}

a.sublevel:hover,
a.sublevel:active,
a.sublevel:focus {
    color: #CC0000;
}

#active_menu {
    color: #CC0000;
}

/* Module
--------------------------------------------------------- */
/* Start Module Rounded
--------------------------------------------------------- */
div.module h3, div.module_menu h3, div.module-blank h3, div.module_text h3 {
}

/* End Module Rounded
--------------------------------------------------------- */
#at-col1 {
}

#at-col1 a {
    text-decoration: underline;
}

#at-col1 div.moduletable-blank h3, #at-col1 div.moduletable h3, #at-col1  div.moduletable_text h3, #at-col1 div.moduletable_menu h3 {
}

#at-col1 div.moduletable-blank, #at-col1 div.moduletable, #at-col1 div.moduletable_text, #at-col1 div.moduletable_menu {
}

#at-col1 div.moduletable_menu a, #at-col1 div.moduletable_text a, #at-col1 div.moduletable-blank a {
    color: #f57b2d;
    text-decoration: none;
}

#at-user23 div.moduletable h3 {
}

#at-user23 div.moduletable {
}

#at-user24 div.moduletable h3 {
}

#at-user24 div.moduletable {
}

#at-user25 div.moduletable h3 {
}

#at-user25 div.moduletable {
}

#at-user26 div.moduletable h3 {
}

#at-user26 div.moduletable {
}

#at-user27 div.moduletable h3 {
}

#at-user27 div.moduletable {
}

#at-shownews {
}

#at-shownews div.moduletable {
}

#at-shownews div.moduletable h3 {
}

#at-shownews a {
    color: #CC0000;
    text-decoration: underline;
}

#at-shownews a:hover, #at-user13 a:active, #at-user13 a:focus {
    text-decoration: none;
}

/* at NFONTENT */
div.nftitle,
div.nfimages,
div.nfcontent {

}

div.nftitle {
    color: #CC0000;
}

div.nftitle a {
    text-decoration: none;
}

div.nfimages {

}

div.nfcontent {

}

#at-usertools {
}

/* Modules bottom style */
.at-grusht-full, .at-grusht-left, .at-grusht-right, .at-grusht-rightcol {
    overflow: hidden;
}

.at-grusht-full div.moduletable,
.at-grusht-left div.moduletable,
.at-grusht-right div.moduletable,
.at-grusht-rightcol div.moduletable {

}

.at-grusht-left div.moduletable h3,
.at-grusht-full div.moduletable h3 {
}

.at-grusht-left,
.at-grusht-full {
    background-color: #3e88bb;
    width: 29.5% !important;
}

.at-grusht-right div.moduletable h3 {
}

.at-grusht-right {
    background-color: #3e88bb;
}

.at-grusht-rightcol div.moduletable h3 {
}

.at-grusht-rightcol {
    background-color: #3e88bb;
    width: 32.3% !important;
}

#at-bottom {
}

#at-bottom h3 {
}

#at-bottom div.moduletable {
}

#at-bottom ul {

}

#at-bottom li {
    background-color: transparent;
}

#at-bottom td {

}

#at-bottom .article_seperator {
    display: none;
}

#at-bottom table {
    border-spacing: 0;
    border-collapse: collapse;
}

/* End bottom modules*/
#at-footerwrap {
}

#at-footer {
    background-image: none;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: 0 0;
}

#at-footer small, #at-footer address {
}

#at-footer a {
    text-decoration: underline;
}

#at-footer li a {
    text-decoration: underline;
}

#at-footer li a:hover, #at-footer li a:active, #at-footer li a:focus {
    text-decoration: none;
}

#at-search {
}

#at-search .inputbox {
}

/* Typography */
ul.checklist li {
}

ul.stars li {
}

/* Bignumber */
.bignumber {
}

/* Son of Suckerfish Dropdowns
--------------------------------------------------------- */
#at-cssmenu {
}

#at-cssmenu ul {

}

#at-cssmenu li {
    background-attachment: scroll;
    display: block;
    cursor: pointer;
}

#at-cssmenu li ul {

}

#at-cssmenu li ul ul {
    /* third-and-above-level lists */
}

#at-cssmenu li li {

}

#at-cssmenu ul a {

}

#at-cssmenu li:hover ul ul, #at-cssmenu li:hover ul ul ul,
#at-cssmenu li.sfhover ul ul, #at-cssmenu li.havechildsfhover ul ul, #at-cssmenu li.havechild-activesfhover ul ul, #at-cssmenu li.activesfhover ul ul,
#at-cssmenu li.sfhover ul ul ul, #at-cssmenu li.havechildsfhover ul ul ul, #at-cssmenu li.havechild-activesfhover ul ul ul, #at-cssmenu li.activesfhover ul ul ul {

}

/* This "unhides" the sub-menus (left: -999em is what hides them) */
#at-cssmenu li:hover ul, #at-cssmenu li li:hover ul, #at-cssmenu li li li:hover ul,
#at-cssmenu li.sfhover ul, #at-cssmenu li.havechildsfhover ul, #at-cssmenu li.havechild-activesfhover ul, #at-cssmenu li.activesfhover ul,
#at-cssmenu li li.sfhover ul, #at-cssmenu li li.havesubchildsfhover ul, #at-cssmenu li li.havesubchild-activesfhover ul, #at-cssmenu li li.activesfhover ul,
#at-cssmenu li li li.sfhover ul, #at-cssmenu li li li.havesubchildsfhover ul, #at-cssmenu li li li.havesubchild-activesfhover ul, #at-cssmenu li li li.activesfhover ul {

}

/* STYLING THE MENU
-----------------------------------*/
/* 1st level */
#at-cssmenu li a {
}

#at-cssmenu li a:hover,
#at-cssmenu li a:active,
#at-cssmenu li a:focus {
}

#at-cssmenu li:hover a,
#at-cssmenu li.sfhover a,
#at-cssmenu li.havechildsfhover a,
#at-cssmenu li.havechild-activesfhover a {
    color: #f57b2d;
}

#at-cssmenu li:hover li a,
#at-cssmenu li.sfhover li a,
#at-cssmenu li.havechildsfhover li a,
#at-cssmenu li.havechild-activesfhover li a {
}

#at-cssmenu li a.active,
#at-cssmenu li a.active:hover,
#at-cssmenu li a.active:active,
#at-cssmenu li a.active:focus {
    color: #f57b2d;
}

/* 2nd level and above */
#at-cssmenu li ul {
}

#at-cssmenu li ul li {
}

#at-cssmenu li ul a {
}

#at-cssmenu li.havesubchild,
#at-cssmenu li.havesubchild-active {
}

#at-cssmenu li ul a:hover,
#at-cssmenu li ul a:active,
#at-cssmenu li ul a:focus,
#at-cssmenu ul li:hover,
#at-cssmenu ul li.sfhover,
#at-cssmenu ul li.havesubchildsfhover,
#at-cssmenu ul li.havesubchild-activesfhover,
#at-cssmenu ul ul li:hover,
#at-cssmenu ul ul li.sfhover,
#at-cssmenu ul ul li.havesubchildsfhover,
#at-cssmenu ul ul li.havesubchild-activesfhover {
    text-decoration: none;
}

#at-cssmenu ul li a.active,
#at-cssmenu ul li a.active:hover,
#at-cssmenu ul li a.active:active,
#at-cssmenu ul li a.active:focus {
}

/* Start smoothgallery jd.gallery.css  */
.jdGallery .slideInfoZone {
    overflow: hidden;
}

/* End smoothgallery jd.gallery.css  */
/* Start tabmodules  */
#at-tabmodulewrap {
    overflow: hidden;
}

#at-tabmodulewrap-top {
}

#at-tabmodulewrap-bot {
    overflow: hidden;
}

#at-tabmodulewrap div.at-innerpad {

}

ul.mootabs-title {

}

.mootabs-title li {
    cursor: pointer;
    display: block;
}

.mootabs-title li h3 {
    color: #f57b2d;
    text-decoration: none;
}

.mootabs-title li.hover {
}

.mootabs-title li.active h3, .mootabs-title li.lastactive h3 {
}

.mootabs-title li.firstactive h3 {
    text-decoration: none;
}

.mootabs-title li.hover h3 {
    text-decoration: none;
}

.mootabs-title li.first h3 {
    color: #f57b2d;
    text-decoration: none;
}

.mootabs-title li.active {
}

.mootabs-title li.firsthover h3 {
}

.mootabs-title li.lasthover h3 {
}

.mootabs-title li.firsthover {
}

.mootabs-title li.lasthover {
}

.mootabs-title li.firstactive {
}

.mootabs-title li.lastactive {
}

.at-tab-cont {
    overflow: hidden;
}

#at-tabmodulewrap .moduletable {
}

#at-tabmodulewrap .moduletable ul {

}

#at-tabmodulewrap .moduletable li {
}

/* End tabmodules  */
/* ============= start dropdown ========= */
/* start style */
/* end style */
/* start default */

div.default div.at-dropdown {
}

div.default div.at-dropdown dt.toggler {
}

div.default div.at-dropdown dt span.header-l {
}

div.default div.at-dropdown dt span.header-r {
    color: #f57b2d;
}

div.default div.at-dropdown dt:hover.toggler {
}

div.default div.at-dropdown dt:hover span.header-l {
}

div.default div.at-dropdown dt:hover span.header-r {
}

/* end default */
/* ============= end dropdown ========= */

#at-search .search label {
    display: none;
}

#at-bottomwrap #at-bottom .at-grusht-left, #at-bottomwrap #at-bottom .at-grusht-right, #at-bottomwrap #at-bottom .at-grusht-rightcol {
    height: 294px !important;
}

#myGallery .moduletable {
    padding: 0 0 0 0;
}

.nivo-controlNav {
    display: none;
}

#at-cssmenu li.active a {
    display: block;
    color: #F57B2D;
}

#at-tabmodulewrap-top #at-tabmodulewrap-bot {
    height: 217px !important;
}

#at-content{
width: 630px;
}

.pagination ul
{

}

.pagination ul li
{
    display: table-cell;
    list-style-type: none;
    background-image: none;
    list-style-image: none;
    padding-left: 10px;
}